.home {
    margin-top: 10px;
}

.dmy {
    background-color: #444444;
    color: gold;
    border: 1px solid gold;
    padding: 10px 20px;
}
.dmy:hover {
    background-color: #222222;
}

.button {
    transition: 300ms ease-in-out;
    transform-origin: center center;
    width: 100%;
    /* text-align: center; */
}

.button:hover {
    transform: scale(1.1);
}